*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://png.pngtree.com/back_origin_pic/05/06/89/6e270dec6f11931302918d797f0eef7a.jpg);
    background-size: 200%;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
h1{
    margin-top:100px;
    padding:20px;
    text-align: center;
    font-family:sans-serif;
    font-size: 70px;
    color:white;
}

div.main{
    width: 600px;
    margin: 70px auto  0px auto;
}

h2{
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}
div.register{
    width: 100%;
    background-color:rgba(0,0,0,0.5);
    font-size: 20px;
    border-radius: 18px;
    border-color: blue;
    border: 4px solid black;
    box-shadow: 2px 2px 15px;
}
form#Register{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    color:#fff

}
input#name{
    width: 500px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    background-color:#fff;
    box-shadow: inset 1px 5px 5px rgba(0,0,0,0.3);

}
input#vplace{
    width: 500px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    background-color:#fff;
    box-shadow: inset 1px 5px 5px rgba(0,0,0,0.3);
}
input#member{
    width: 500px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    background-color:#fff;
    box-shadow: inset 1px 5px 5px rgba(0,0,0,0.3);
}
input#days{
    width: 500px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    background-color:#fff;
    box-shadow: inset 1px 5px 5px rgba(0,0,0,0.3);
}
input#time{
    width: 495px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    background-color:#fff;
    box-shadow: inset 1px 5px 5px rgba(0,0,0,0.3);
}
select#yi{
    width: 500px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    background-color:#fff;
    box-shadow: inset 1px 5px 5px rgba(0,0,0,0.3);


}
input#submit{
    width: 200px;
    padding: 10px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 3px;
    background-color: rgb(234, 102, 54);
    color: #fff;
    cursor: pointer;
    border:2px solid red;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin-bottom: 20px;

}


